{% extends "base.html" %}
{% comment %} To inherit from base template {% endcomment %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block title %}
    {% comment %} The following code will insert into `title` block of base.html {% endcomment %}
    {{ month | title }} Challenge
{% endblock %}

{% block content %}
    {% comment %} The following code will insert into `content` block of base.html {% endcomment %}
    
    {% comment %} The navigation snippet {% endcomment %}
    {% comment %} you can add `with active_page="challenge"` at the end of `html"` to show the title of active page on the current page  {% endcomment %}
    {% include "./includes/header.html" %} 

    {% comment %} month | title := title is Django filter to make month as title {% endcomment %}
    <h1>{{ month | title }} Challenge</h1>
    {% if text is not None %}
        <h2>{{ text }}</h2>
    {% else %}
        <p class="fallback">There is no challenge for this month yet!</p>
    {% endif %}
{% endblock %}